@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed|Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

svg {
  overflow: visible;
}

.app__container {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 60px auto;
}

/* //header// */

.header__container {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  z-index: 10;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  background: #fff;
}

.header__logo__container {
  width: 20%;
  padding: 10px;
  display: grid;
  grid-template: auto / auto;
  align-content: center;
}

.hr_user {
  color: #ffffff;
  background-color: #ffffff;
  width: 100%;
  margin-top: -20px;
  margin-bottom: 10px;
}

.main__container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 20px;
}

/* //sidebar// */

.sidebar__container {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  /* background-color: #1f1f1f; */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background: #605e5e;
  /* box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.555); */
  position: fixed;
  bottom: 0;
  width: 20%;
  top: 80px;
}

.sidebar__container ul {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.sidebar__container li {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-content: center;
}
.dropdown {
  display: flex;
  flex-direction: column;
}
.dropdown li {
  width: 85%;
  margin: 0 auto;
}

.sidebar__dropdown__show li:hover {
  background-color: #ffffff64;
}

.LinkSide li a:active {
  color: #ffffff;
  background-color: transparent;
}

.sidebar__container a {
  text-decoration: none;
}

.sidebar__container a:visited {
  color: #fff;
}

.sidebar__container li {
  list-style: none;
  height: 20%;
  line-height: 50px;
  text-align: center;
  transition: 0.5s;
  margin-bottom: 10px;
  border-radius: 5px;
}

.sidebar__container li:first-child {
  margin-top: 10px;
}

.sidebar__menu__link:hover {
  background-color: #ffffff64;
  border-radius: 5px;
}

.sidebar__menu__link:active {
  background-color: #ffffff64;
  border-radius: 5px;
}

.sidebar__menu__link {
  display: flex;
}

.sidebar__menu__link span {
  margin-left: auto;
}

.sidebar__menu__link span:last-child {
  margin-right: 10px;
}

.hr__sidebar {
  background-color: #ffffff9e;

  width: 100%;
  margin-bottom: 10px;
}

.img__404 {
  width: 250px;
  margin-top: 30px;
}

.e__404__container {
  color: var(--darkGrey);
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.e__404__container h1 {
  font-size: 100px;
  line-height: 80px;
}

.linkSide {
  color: #fff;
  text-decoration: none;
}

.active {
  color: #fff;
  background: #e6b041;
  text-decoration: none;
  border-radius: 5px;
}

/* //main// */

.recharts-wrapper {
  display: flex;
}

.container__home__element {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  flex-wrap: wrap;
}

.widget__graphs {
  /* border-style: solid;
  border-color: #9e9d9d;
  border-width: 2px;
  border-radius: 10px; */
  padding: 5px;
  position: relative;
  padding-top: 5px;
  margin-top: 20px;
  color: #605d5e;
}

.titleMain {
  text-align: center;
  color: #605e5e;
  margin: 0 auto;
  width: 60%;
  border-bottom: 2px solid #9e9d9d;
}

.title__container {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

.logoLogin {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15px;
  width: 150px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 2px solid #9e9d9d;
}

.logoLogin .stretch {
  width: 30%;
  height: 30%;
  margin: 0px 5%;
}
.userAlign {
  text-align: center;
}

.arrow {
  height: 25%;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  align-self: center;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.title__piechart {
  font-size: 18px;
  -webkit-animation: appear 1s ease 0s 1 normal;
  -moz-animation: appear 1s ease 0s 1 normal;
  -ms-animation: appear 1s ease 0s 1 normal;
  animation: appear 1s ease 0s 1 normal;
}

.subtitle__piechart {
  font-size: 15px;
  margin-right: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid #9e9d9d;
  -webkit-animation: appear 1s ease 0s 1 normal;
  -moz-animation: appear 1s ease 0s 1 normal;
  -ms-animation: appear 1s ease 0s 1 normal;
  animation: appear 1s ease 0s 1 normal;
}

.calendar__piechart {
  border: 2px solid #9e9d9d;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.calendar__container {
  position: absolute;
  bottom: 5px;
  left: 20px;
  display: flex;
}

@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.calendar__container input {
  width: 100%;
  border: none;
  background: none;
  border-bottom: 2px solid #9e9d9d;
  border-radius: 0px;
  height: 30px;
  font-size: 16px;
  color: #9e9d9d;
  letter-spacing: 1px;
  outline: none;
  padding-left: 10px;
  /* margin-right: 80px; */
}

.calendar__container input::placeholder {
  color: #9e9d9d;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 1px;
  padding-left: 10px;
  transition: all 0.3s ease;
}

.calendar__container input:focus::placeholder {
  opacity: 0;
}

.calendar__container input:focus {
  box-shadow: none;
}

.ui-calendar {
  margin-right: 30px;
  width: 225px;
}

.graph__barchart__header {
  margin-bottom: 30px;
}

.calendar__range input {
  width: 100%;
  border: none;
  background: none;
  border-bottom: 2px solid #d70040;
  border-radius: 0px;
  height: 30px;
  font-size: 16px;
  color: #9e9d9d;
  letter-spacing: 1px;
  outline: none;
  padding-left: 10px;
  /* margin-right: 80px; */
}

.calendar__range input:focus {
  box-shadow: none;
  border-bottom: 2px solid #d70040;
}

.calendar__range input:hover {
  box-shadow: none;
  border-bottom: 2px solid #d70040;
}

.calendar__compare input {
  width: 100%;
  border: none;
  background: none;
  border-bottom: 2px solid #61bd88;
  border-radius: 0px;
  height: 30px;
  font-size: 16px;
  color: #9e9d9d;
  letter-spacing: 1px;
  outline: none;
  padding-left: 10px;
  /* margin-right: 80px; */
}

.calendar__compare input:focus {
  box-shadow: none;
  border-bottom: 2px solid #61bd88;
}

.calendar__compare input:hover {
  box-shadow: none;
  border-bottom: 2px solid #61bd88;
}

/* //login// */

.login__container {
  background-size: cover;
  height: 100vh;
  padding: 30px;
  color: rgb(179, 30, 30);
  display: flex;
  align-items: center;
}

.login__logo {
  width: 50px;
}

.login__h1 {
  font-size: 60px;
  line-height: 65px;
  margin-top: 50px;
}

.logo__h1__form__container {
  margin-top: -150px;
}

.login__form input {
  width: 100%;
  border: none;
  background: none;
  border-bottom: 1px solid rgb(196, 0, 0);
  height: 30px;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  outline: none;
  padding-left: 10px;
}

.login__form input::placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 1px;
  padding-left: 10px;
  transition: all 0.3s ease;
}

.login__form input:focus::placeholder {
  opacity: 0;
}

.input__email {
  margin-top: 50px;
}

.input__password {
  margin-top: 30px;
}

.login__button {
  position: fixed;
  width: 100%;
  background: var(--darkGrey);
  left: 0;
  bottom: 0;
  height: 60px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  color: #fff;
  border: none;
}

.login__button:active {
  background: var(--darkGreyActive);
}

.button__container {
  display: flex;
  align-content: center;
  cursor: pointer;
}

.login__privacy {
  letter-spacing: 1px;
  font-size: 14px;
  position: absolute;
  bottom: 80px;
}

.login__privacy span {
  text-decoration: underline;
}

#target {
  position: relative;
  width: 350px;
  margin: 0 auto;
}

.nr_chord_diagram {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}
svg {
  position: relative;
  width: 100%;
}
.link {
  stroke: #086788;
  stroke-width: 2px;
  stroke-opacity: 0.2;
  fill: none;
  pointer-events: none;
  stroke-opacity: 1;
  stroke-width: 2px;
  stroke: #d62728;
}
