@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed|Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

svg {
  overflow: visible;
}

.app__container {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 60px auto;
}

/* //header// */

.header__container {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  z-index: 10;
  height: 70px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  background: #e6b041;
}

.header__logo__container {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.header__logo {
  width: 55%;
  display: flex;
  align-content: center;
}

.hr_user {
  color: #ffffff;
  background-color: #ffffff;
  width: 100%;
  margin-top: -20px;
  margin-bottom: 10px;
}

.main__container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 20px;
}

.sidebar_user {
  display: flex;
  justify-content: space-around;
}

/* //sidebar// */

.sidebar__container {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  /* background-color: #1f1f1f; */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  background: #605e5e;
  /* box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.555); */
  position: fixed;
  bottom: 0;
  width: 20%;
  top: 65px;
  padding-top: 20px;
}

.sidebar__container ul {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.sidebar__container li {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-content: center;
}

.dropdown {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: none;
  border-bottom: 2px solid #e6b041;
}
.dropdown li {
  width: 90%;
  margin: 0 auto;
  line-height: 30px !important;
  font-family: 'Open Sans', sans-serif;
}

.sidebar__dropdown__show {
  width: 100% !important;
  /* margin: 0 !important; */
}

.sidebar__dropdown__show li:hover {
  background-color: #ffffff64;
}

.LinkSide li a:active {
  color: #ffffff;
  background-color: transparent;
}

.sidebar__container a {
  text-decoration: none;
}

.sidebar__container a:visited {
  color: #fff;
}

.sidebar__container li {
  list-style: none;
  height: 20%;
  line-height: 50px;
  text-align: center;
  transition: 0.5s;
  margin-bottom: 10px;
  border-radius: 5px;
}

.sidebar__container li:first-child {
  margin-top: 10px;
}

.sidebar__menu__link:hover {
  background-color: #ffffff64;
  border-radius: 5px;
}

.sidebar__menu__link:active {
  background-color: #ffffff64;
  border-radius: 5px;
}

.sidebar__menu__link {
  display: flex;
}

.sidebar__menu__link span {
  margin-left: auto;
}

.sidebar__menu__link span:last-child {
  margin-right: 10px;
}

.hr__sidebar {
  background-color: #ffffff9e;

  width: 100%;
  margin-bottom: 10px;
}

.img__404 {
  width: 250px;
  margin-top: 30px;
}

.e__404__container {
  color: var(--darkGrey);
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.e__404__container h1 {
  font-size: 100px;
  line-height: 80px;
}

.linkSide {
  color: #fff;
  text-decoration: none;
}

.active {
  color: #fff;
  background: #e6b041;
  text-decoration: none;
  border-radius: 5px;
}

/* //main// */

.recharts-wrapper {
  display: flex;
}

.container__home__element {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  flex-wrap: wrap;
}

.widget__graphs {
  /* border-style: solid;
  border-color: #9e9d9d;
  border-width: 2px;
  border-radius: 10px; */
  padding: 5px;
  position: relative;

  margin-top: 20px;
  color: #605d5e;
}

.titleMain {
  text-align: left;
  color: #605d5e;
  width: 60%;
  margin-left: 48px;
}

.title__container {
  margin: 0 auto;
  text-align: center;
  width: 65%;
}
.chord__chart__container {
  display: flex;
  justify-content: center;
}

.chord__chart {
  width: 700px;
}
/* login */

.logoLogin {
  display: flex;
  justify-content: left;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 15%;
  border-left: 2px solid #605d5e;
}

.userQuadrato {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: transparent;
  border: 3px solid #605d5e;
  color: #605d5e;
  text-align: center;
  line-height: 45px;
  margin-right: 10px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  /* box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75); */
}

.userProp a:link {
  color: #605d5e;
  text-decoration: none;
}
.userProp a:visited {
  color: #605d5e;
  text-decoration: none;
}
.userProp a:hover {
  color: #605d5e;
  text-decoration: underline;
}

.logoLogin .stretch {
  width: 30%;
  height: 30%;
  margin: 0px 5%;
}
.userProp {
  text-align: left;
  width: min-content;
}

.arrow {
  height: 25%;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  align-self: center;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.title__piechart {
  font-size: 18px;
  -webkit-animation: appear 1s ease 0s 1 normal;
  -moz-animation: appear 1s ease 0s 1 normal;
  -ms-animation: appear 1s ease 0s 1 normal;
  animation: appear 1s ease 0s 1 normal;
  margin-top: 25px;
  margin-left: 20px;
}

.subtitle__piechart {
  font-size: 15px;
  margin-right: 10px;
  margin-left: 20px;
  padding-bottom: 5px;
  border-bottom: 2px solid #9e9d9d;
  -webkit-animation: appear 1s ease 0s 1 normal;
  -moz-animation: appear 1s ease 0s 1 normal;
  -ms-animation: appear 1s ease 0s 1 normal;
  animation: appear 1s ease 0s 1 normal;
}

.calendar__piechart {
  border: 2px solid #9e9d9d;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.calendar__container {
  display: flex;
  margin-bottom: 20px;
}

.calendar__container-left {
  align-self: flex-start;
}

@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.calendar__container input {
  width: 100%;
  border: none;
  background: none;
  border-bottom: 2px solid #9e9d9d;
  border-radius: 0px;
  height: 30px;
  font-size: 16px;
  color: #9e9d9d;
  letter-spacing: 1px;
  outline: none;
  padding-left: 10px;
  /* margin-right: 80px; */
}

.calendar__container input::placeholder {
  color: #9e9d9d;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 1px;
  padding-left: 10px;
  transition: all 0.3s ease;
}

.calendar__container input:focus::placeholder {
  opacity: 0;
}

.calendar__container input:focus {
  box-shadow: none;
}

.ui-calendar {
  margin-right: 30px;
  width: 225px;
}

.graph__barchart__header {
  margin-bottom: 25px;
}

.calendar__range input {
  width: 100%;
  border: none;
  background: none;
  border-bottom: 2px solid #605d5e;
  border-radius: 0px;
  height: 30px;
  font-size: 16px;
  color: #9e9d9d;
  letter-spacing: 1px;
  outline: none;
  padding-left: 10px;
  margin-left: 20px;
  /* margin-right: 80px; */
}

.calendar__range input:focus {
  box-shadow: none;
  border-bottom: 2px solid #605d5e;
}

.calendar__range input:hover {
  box-shadow: none;
  border-bottom: 2px solid #605d5e;
}

.activity__color__range input {
  border-bottom: 2px solid #d70040;
}

.activity__color__range input:hover {
  border-bottom: 2px solid #d70040;
}

.activity__color__range input:focus {
  border-bottom: 2px solid #d70040;
}

.calendar__compare input {
  width: 100%;
  border: none;
  background: none;
  /* border-bottom: 2px solid #61bd88; */
  border-radius: 0px;
  height: 30px;
  font-size: 16px;
  color: #9e9d9d;
  letter-spacing: 1px;
  outline: none;
  padding-left: 10px;
  margin-left: 20px;
  /* margin-right: 80px; */
}

.calendar__compare input:focus {
  box-shadow: none;
  /* border-bottom: 2px solid #61bd88; */
}

.calendar__compare input:hover {
  box-shadow: none;
  /* border-bottom: 2px solid #61bd88; */
}

.activity__color__compare input {
  border-bottom: 2px solid #6d7ab2;
}

.activity__color__compare input:hover {
  border-bottom: 2px solid #6d7ab2;
}

.activity__color__compare input:focus {
  border-bottom: 2px solid #6d7ab2;
}

.involvement__color__range input {
  border-bottom: 2px solid #61bd88;
}

.involvement__color__range input:hover {
  border-bottom: 2px solid #61bd88;
}

.involvement__color__range input:focus {
  border-bottom: 2px solid #61bd88;
}

.involvement__color__compare input {
  border-bottom: 2px solid #d786a3;
}

.involvement__color__compare input:hover {
  border-bottom: 2px solid #d786a3;
}

.involvement__color__compare input:focus {
  border-bottom: 2px solid #d786a3;
}

/* //404 not found// */

.e__404__container {
  display: flex;
  align-items: center;
  margin-top: 20%;
  line-height: 50px;
}

/* //Linechart// */
.linechart__container {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.linechart__legend {
  width: 70%;
}
.linechart__legend__ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.linechart__legend__ul li {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.linechart__legend__ul span:first-child {
  border-radius: 10px;
  margin-right: 5px;
}

/* //login// */

.Login input {
  border-radius: none;
  border-bottom: 3px solid #605d5e;
  border-top: none;
  border-left: none;
}

.Login {
  display: flex;
  flex-flow: column;
  text-align: center;
}

.Login form {
  border: solid 3px #d9d9d9;
  padding: 10px 10px;
  margin: 0 auto;
  display: grid;
  grid-gap: 15px;
}

/* .login__container {
  background-size: cover;
  height: 100vh;
  padding: 30px;
  color: rgb(179, 30, 30);
  display: flex;
  align-items: center;
}

.login__logo {
  width: 50px;
}

.login__h1 {
  font-size: 60px;
  line-height: 65px;
  margin-top: 50px;
}

.logo__h1__form__container {
  margin-top: -150px;
}

.login__form input {
  width: 100%;
  border: none;
  background: none;
  border-bottom: 1px solid rgb(196, 0, 0);
  height: 30px;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  outline: none;
  padding-left: 10px;
}

.login__form input::placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 1px;
  padding-left: 10px;
  transition: all 0.3s ease;
}

.login__form input:focus::placeholder {
  opacity: 0;
}

.input__email {
  margin-top: 50px;
}

.input__password {
  margin-top: 30px;
}

.login__button {
  position: fixed;
  width: 100%;
  background: var(--darkGrey);
  left: 0;
  bottom: 0;
  height: 60px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  color: #fff;
  border: none;
}

.login__button:active {
  background: var(--darkGreyActive);
} 

.button__container {
  display: flex;
  align-content: center;
  cursor: pointer;
}
*/
.login__privacy {
  letter-spacing: 1px;
  font-size: 14px;
  position: absolute;
  bottom: 80px;
}

.legend__checkbox div:last-child {
  border-radius: 50%;
  box-shadow: none;
}

.aECB02E div:last-child {
  border: none;
  background-color: white;
}

.aECB02E div:last-child span {
  background-color: #ecb02e !important;
  border: 1px solid #ecb02e !important;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}

.a6BAF7D div:last-child {
  border: none;
  background-color: white;
}

.a6BAF7D div:last-child span {
  background-color: #6baf7d !important;
  border: 1px solid #6baf7d !important;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}

.aD786A3 div:last-child {
  border: none;
  background-color: white;
}

.aD786A3 div:last-child span {
  background-color: #d786a3 !important;
  border: 1px solid #d786a3 !important;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}

.aC6004A div:last-child {
  border: none;
  background-color: white;
}

.aC6004A div:last-child span {
  background-color: #c6004a !important;
  border: 1px solid #c6004a !important;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}

.a7971ea div:last-child {
  border: none;
  background-color: white;
}

.a7971ea div:last-child span {
  background-color: #7971ea !important;
  border: 1px solid #7971ea !important;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}

.afab2ac div:last-child {
  border: none;
  background-color: white;
}

.afab2ac div:last-child span {
  background-color: #fab2ac !important;
  border: 1px solid #fab2ac !important;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}

.a6D7AB2 div:last-child {
  border: none;
  background-color: white;
}

.a6D7AB2 div:last-child span {
  background-color: #6d7ab2 !important;
  border: 1px solid #6d7ab2 !important;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}

.aA4C46B div:last-child {
  border: none;
  background-color: white;
}

.aA4C46B div:last-child span {
  background-color: #a4c46b !important;
  border: 1px solid #a4c46b !important;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}

.aD83A00 div:last-child {
  border: none;
  background-color: white;
}

.aD83A00 div:last-child span {
  background-color: #d83a00 !important;
  border: 1px solid #d83a00 !important;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}

.a74dbef div:last-child {
  border: none;
  background-color: white;
}

.a74dbef div:last-child span {
  background-color: #74dbef !important;
  border: 1px solid #74dbef !important;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}

.login__privacy span {
  text-decoration: underline;
}

#target {
  position: relative;
  width: 350px;
  margin: 0 auto;
}

.nr_chord_diagram {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}
svg {
  position: relative;
  width: 100%;
}
.link {
  stroke: #086788;
  stroke-width: 2px;
  stroke-opacity: 0.2;
  fill: none;
  pointer-events: none;
  stroke-opacity: 1;
  stroke-width: 2px;
  stroke: #d62728;
}

.form-group.form-group-lg {
  display: grid;
}

.input[type='checkbox']:checked {
  background-color: red;
}

.container:hover input ~ .checkmark {
  background-color: red;
}
