@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Encode Sans Condensed', sans-serif;
}

svg {
  overflow: visible;
}

.app__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 60px auto;
}

.header__container {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
}

.header__logo {
  width: 18.5%;
  margin-left: 0.5em;
}

.sidebar__container {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.main__container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.sidebar__container {
  height: 100vh;
  background-color: rgb(225, 225, 225);
}

.sidebar__container li {
  height: 20%;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: 4px 0px 0px 0px;
  line-height: 80px;
  text-align: center;
  transition: 0.5s;
}

.sidebar__container li:hover {
  background-color: rgb(99, 99, 99);
  color: white;
}

.img__404 {
  width: 250px;
  margin-top: 30px;
}

.e__404__container {
  color: var(--darkGrey);
  text-align: center;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.e__404__container h1 {
  font-size: 100px;
  line-height: 80px;
}